@import "tailwindcss";

@theme {
  --color-primary: #11d442;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102215;
  --font-display: "Manrope", "sans-serif";
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
